<?xml version="1.0"?>
<launch>

    <include file="$(find realsense_devel)/launch/realsense_pointcloud.launch" />
    <rosparam file="$(find realsense_devel)/config/detector.yaml" />
    <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find realsense_devel)/rviz/sim_bbox.rviz"/>
    <node name="detector_node" pkg="realsense_devel" type="detector_node" output="screen" />
    <node name="bbox_node" pkg="realsense_devel" type="bbox_node" output="screen" />

</launch> 
