<?xml version="1.0"?>
<launch>

    <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch" />
    <rosparam file="$(find lidar_xyz)/config/detector_xyz.yaml" />
    <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find lidar_xyz)/rviz/sim_bbox.rviz"/>
    <node name="detector_xyz_node" pkg="lidar_xyz" type="detector_xyz_node" output="screen" />
    <node name="bbox_xyz_node" pkg="lidar_xyz" type="bbox_xyz_node" output="screen" />

</launch> 
